			body {
				background-color: darkgreen;	
			}

			h1  {
				font-size: 70px;
				text-align: center;
				background-color: purple;
				color: white;
			} 

			p {
				font-size: 20px;
				color: white;
				text-align: center;
			}

			#links {
				text-align: center;
				font-size: 20%;

			}

			a:link, a:visited {
				color:yellow;
				text-decoration: underline;
			}

			a:hover {
				color: purple;
			}

			a:active {
				color: brown;	
			}